
.progress-container {
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 30px;
  }
  
  .progress-container div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b3b3b3;
    transition: transform .15s ease-out, background-color .15s ease-out;
  }
  
  #currentPosition {
    background-color: var(--accent);
    transform: scale(1.5);
  }