.results-container {
    background-color: var(--backgroundLight);
    width: 700px;
    border-radius: 10px;
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.4);
    margin-bottom: 50px;
}

@media (max-width: 800px) {
    .results-container {
        width: 90%;
}
}

.results-container h2 {
    margin: 0;
    font-size: 60pt;
    user-select: none;
}
.results-container h1{
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    font-size: 30pt;
    margin: 30px 10px 10px;
}
.results-container p{
    margin: 20px 10px 40px;
    font-size: 15pt;
}
.results-container button {
    font-size: 12pt;
    padding: 10px 25px;
    border: none;
    color: white;
    background-color: var(--accent);
    border-radius: 5px;
    margin: 0px 0 30px;
    transition: filter .15s ease-out, opacity .15s ease-out;
}
.results-container button:hover {
    transition: none;
    cursor: pointer;
    filter: brightness(1.2);
}