.results-container {
  background-color: var(--backgroundLight);
  width: 700px;
  border-radius: 10px;
  box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
  position: absolute;
  top: 158px;
}

@media (max-width: 800px) {
  .results-container {
    width: 90%;
  }
}

.results-container h2 {
  margin: 0;
  font-size: 60pt;
  user-select: none;
}
.results-container h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 30pt;
  margin: 30px 10px 10px;
}
.results-container p {
  margin: 20px 10px 20px;
  font-size: 15pt;
}
.results-container button {
  display: block;
  margin: 15px auto;
}
.results-container button:nth-last-child(1) {
  margin: 15px auto 20px;
}

.answers-wrapper {
  width: 80%;
  margin: 0 auto;
}

.answers-wrapper .answer-container {
  margin: 0;
  /* border: 2px solid var(--accentSecondary); */
  border-radius: 8px;
  padding: 10px 0;
}

.answer-container h4 {
  font-family: "Bebas Neue", cursive;
  font-weight: normal;
  font-size: 20pt;
  margin: 0;
}

.answer-container p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 5px auto;
  height: 40px;
  font-size: 12pt;
  border-radius: 5px;
  color: black;
  border: 2px solid var(--correct);
}

@media (max-width: 800px) {
  .answer-container p {
    width: 80%;
  }
}

.wrong-answer {
  border: 2px solid var(--wrong) !important;
}
