:root {
  --background: #296177;
  --backgroundLight: #fff;
  --backgroundDark: #494949;
  --accent: #2a9d8f;
  --accentHover: #33beae;
  --accentSecondary: #e76f51;
}

body, html {
  background: var(--background);
}

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 45pt;
  user-select: none;
}

button {
  font-size: 12pt;
  padding: 10px 25px;
  border: none;
  color: white;
  background-color: var(--accent);
  border-radius: 5px;
  margin: 20px 0 30px;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: .15s;
}

button:disabled {
  opacity: .5;
}

button:disabled:hover {
  transition: none;
  cursor: not-allowed;
  background-color: var(--accent);
}

button:hover {
  transition: none;
  cursor: pointer;
  background-color: var(--accentHover);
}

button:active {
  transform: scale(.98);
}

button:active, button:focus {
  outline: none;
}