:root {
  --background: #264653;
  --backgroundLight: #fff;
  --backgroundDark: #494949;
  --accent: #2a9d8f;
  --accentSecondary: #e76f51;
  --selected: #e9c46a;
}

body {
  background: var(--background);
}

* {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 45pt;
  user-select: none;
}